.background {
  height: 100vh;
  width: 100%;
  background: orange;
  position: relative;
  overflow: hidden;
  z-index: -2;
}

.container:after {
  content: "";
  z-index: -1;
  position: absolute;
  height: 600px;
  width: 800px;
  background: darkgreen;
  top: 70px;
  left: 620px;
  transform: rotate(-30deg);
}

.container {
  width: 820px;
  height: 520px;
  background: darkblue;
  position: absolute;
  bottom: 0;
  left: 80px;
}

.game {
  position: absolute;
  width: 720px;
  height: 440px;
  border: 3px solid black;
  margin: 50px;
  background: lightgrey;
}

.loseModal {
  position: absolute;
  width: 720px;
  height: 440px;
  border: 3px solid black;
  background: black;
  margin-left: 130px;
  margin-top: 179px;
  z-index: -99;
}

.loseModal_title {
  color: orange;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}

.loseButton {
  background: orange;
  font-weight: bold;
  text-align: center;
  margin: 150px auto;
  border-radius: 4px;
  line-height: 30px;
  width: 90px;
  height: 30px;
  cursor: pointer;
}
